{% include 'navbar/wordsNav.html' %} {% load static %}

<div class="container contents">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/words">Words of wisdom</a></li>
            <li class="breadcrumb-item active" aria-current="page">About-Me</li>
        </ol>
    </nav>
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <div style="display:inline;" class="float-left"><img src="{%  static 'assets/img/me.jpg' %}" style="width: 10rem; height: 10rem; border-radius: 100%;" /></div>
                    <h1>Name: Eliya Joseph</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam tenetur, reiciendis autem eius tempore natus debitis error sed expedita minima, dolorum nesciunt quas porro quibusdam itaque quos dicta possimus officia iure placeat
                        commodi velit blanditiis, illo accusantium. Ea ipsum quaerat sed incidunt vero rerum, ratione laboriosam magnam sunt. Atque vitae accusamus eum aspernatur consectetur a aliquam molestiae, iste doloremque quibusdam odit quas soluta
                        neque quod delectus sit minus? Rem natus inventore mollitia iste quod laudantium praesentium? Facere accusamus quisquam, modi magnam quia totam obcaecati dolorem similique facilis dolores nisi. Laudantium explicabo dolorem aliquid
                        vero numquam praesentium aspernatur similique reiciendis dolor! Officiis praesentium, recusandae eos voluptatum maxime omnis ipsa aut numquam saepe commodi harum nisi accusantium repudiandae architecto tenetur laborum et veritatis
                        explicabo delectus! Est odio cum voluptates, earum quisquam corporis corrupti. A at dolores repudiandae soluta libero quae quas voluptates, suscipit nostrum? Sint, amet sit iure sequi nisi voluptates iste aperiam. Aut neque in
                        totam suscipit soluta architecto earum hic natus blanditiis quae delectus itaque et consequuntur perferendis odit vero consectetur officiis, corrupti aliquam incidunt, ipsam voluptates corporis. Voluptate amet velit voluptatibus,
                        illum modi deleniti voluptatem dignissimos iste nemo? Quibusdam voluptatem, magnam voluptates commodi error cupiditate aut minus impedit deleniti perferendis. Porro dolorum minus explicabo, voluptatum dolore ut nemo deleniti id
                        modi non. Dicta expedita in ratione deleniti facere illum laboriosam velit sed sint harum, iusto vitae quos molestias dolore? Tenetur nesciunt quisquam reprehenderit eum doloremque molestiae beatae, unde, alias tempora, totam voluptatem.
                        Vel sint animi nesciunt, ab tenetur accusamus commodi exercitationem quis cupiditate, sed sunt odit? Delectus, maxime cum. Ab sed velit iusto modi laudantium? Veritatis voluptatum, ipsa eius possimus ab quasi laborum cumque ex,
                        mollitia porro blanditiis totam dolores, aliquam dolorum id voluptas velit? Cumque architecto possimus molestiae praesentium, enim qui fugiat atque doloremque ex non nam ea modi unde quas, reprehenderit placeat voluptates odio!
                        Nobis distinctio dicta delectus. Rerum commodi esse laboriosam voluptatem maiores, dolore nobis itaque neque hic iure eaque non nostrum iusto a, qui voluptatum eius quis nulla debitis reiciendis, eum aspernatur consequuntur! A,
                        rerum? Blanditiis quis, praesentium aperiam at nemo magnam distinctio cumque, harum eum deleniti corrupti suscipit omnis tempora culpa nisi! Quis accusamus sed provident fugiat maiores dolorem totam eveniet, ducimus est et ex culpa
                        qui sapiente voluptatibus vero ipsum quia unde adipisci quam consequatur sint facere animi pariatur hic. Aliquid eaque iusto cupiditate cum rem nisi quibusdam cumque adipisci ex! Unde, rerum!</p>
                </div>
            </div>
        </div>
    </div>
</div>